<a href="https://colab.research.google.com/github/teacher-jiejie/Lets-get-it-Python-Lecture/blob/main/5%EC%9E%A5_(%EC%99%84%EC%84%B1%EB%B3%B8)_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 반복문
<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/4_%EB%B0%98%EB%B3%B5%EB%AC%B8.png?raw=true' width=500>

In [ ]:
for a in [1,2,3,4,5] : 
    print('안녕하세요!')

안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!

In [ ]:
for a in [1,2,3,4,5] : 
    print(a, '안녕하세요!')

1 안녕하세요!
2 안녕하세요!
3 안녕하세요!
4 안녕하세요!
5 안녕하세요!

<img src ='https://github.com/teacher-jiejie/allinone_AI/blob/images/5_%EB%B0%98%EB%B3%B5%EB%AC%B8%20%EB%8F%99%EC%9E%91%EA%B5%AC%EC%A1%B0.png?raw=true' width=500>

# 2. range(시작숫자, 종료숫자)

In [ ]:
for a in range(1, 10) : 
    print(a, '선생님, 다시는 청소를 빼먹지 않겠습니다')

1 선생님, 다시는 청소를 빼먹지 않겠습니다
2 선생님, 다시는 청소를 빼먹지 않겠습니다
3 선생님, 다시는 청소를 빼먹지 않겠습니다
4 선생님, 다시는 청소를 빼먹지 않겠습니다
5 선생님, 다시는 청소를 빼먹지 않겠습니다
6 선생님, 다시는 청소를 빼먹지 않겠습니다
7 선생님, 다시는 청소를 빼먹지 않겠습니다
8 선생님, 다시는 청소를 빼먹지 않겠습니다
9 선생님, 다시는 청소를 빼먹지 않겠습니다

> range()는 종료숫자-1 까지 포함한다

In [ ]:
for a in range(1, 11) : 
    print(a, '선생님, 다시는 청소를 빼먹지 않겠습니다')

1 선생님, 다시는 청소를 빼먹지 않겠습니다
2 선생님, 다시는 청소를 빼먹지 않겠습니다
3 선생님, 다시는 청소를 빼먹지 않겠습니다
4 선생님, 다시는 청소를 빼먹지 않겠습니다
5 선생님, 다시는 청소를 빼먹지 않겠습니다
6 선생님, 다시는 청소를 빼먹지 않겠습니다
7 선생님, 다시는 청소를 빼먹지 않겠습니다
8 선생님, 다시는 청소를 빼먹지 않겠습니다
9 선생님, 다시는 청소를 빼먹지 않겠습니다
10 선생님, 다시는 청소를 빼먹지 않겠습니다

> range()에서 시작숫자가 0일 때에는 생략 가능

In [ ]:
for a in range(10) : 
    print(a, '선생님, 다시는 청소를 빼먹지 않겠습니다')

0 선생님, 다시는 청소를 빼먹지 않겠습니다
1 선생님, 다시는 청소를 빼먹지 않겠습니다
2 선생님, 다시는 청소를 빼먹지 않겠습니다
3 선생님, 다시는 청소를 빼먹지 않겠습니다
4 선생님, 다시는 청소를 빼먹지 않겠습니다
5 선생님, 다시는 청소를 빼먹지 않겠습니다
6 선생님, 다시는 청소를 빼먹지 않겠습니다
7 선생님, 다시는 청소를 빼먹지 않겠습니다
8 선생님, 다시는 청소를 빼먹지 않겠습니다
9 선생님, 다시는 청소를 빼먹지 않겠습니다

# 3. for i in data :
일반적으로 반복문에서는 i라는 변수를 사용합니다

1부터 50까지의 숫자의 합을 구해보자.
ex) 1+2+3+...49+50

In [ ]:
result = 0

for i in range(1, 51) : 
    result += i

print(result)

1275

숫자 하나를 입력받고, 1부터 입력받은 숫자까지의 곱을 구해보세요.
<br/>
ex) 5를 입력받은 경우, 1x2x3x4x5 결과 출력하기

In [ ]:
num = int(input('숫자 입력 -> '))
result = 1

for i in range(1, num+1) : 
    result *= i

print(result)

숫자 입력 -> 5
120

# 4. 구구단 출력 프로그램
4단 출력하기 <br/>

```
4 x 1 = 4
4 x 2 = 8
...
4 x 8 = 32
4 x 9 = 36
```

In [ ]:
for i in range(1, 10) : 
    print('4 x', i, '=', 4*i)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

구구단 외울 단을 입력받아, 해당 숫자의 구구단을 외워봅시다.<br/>
ex. 5를 입력받으면 5단 외우기

In [ ]:
num = int(input('몇 단을 외워볼까요? '))

for i in range(1, 10) : 
    print(num, 'x', i, '=', num*i)

몇 단을 외워볼까요? 19
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171

# 5. 랜덤 구구단 게임 작성하기

랜덤으로 곱셈문제를 내고, 답을 맞추는 게임

### 라이브러리란
<img src='https://github.com/teacher-jiejie/allinone_AI/blob/images/47_%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC.png?raw=true' width=500>
<br/>
<br/>

<img src='https://github.com/teacher-jiejie/allinone_AI/blob/images/48_%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC.png?raw=true' width=500>

In [ ]:
import random

random.random()

0.8932936422942704

In [ ]:
help(random.random)

Help on built-in function random:

random(...) method of random.Random instance
    random() -> x in the interval [0, 1).

In [ ]:
random.randint(1, 10)

3

In [ ]:
help(random.randint)

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

구구단 게임 형식 


```
구구단을 외자! 구구단을 외자! 
7 x 9 ? 63
3 x 7 ? 21
....
```

In [ ]:
import random

for i in range(5) : 
    num1 = random.randint(2, 9)
    num2 = random.randint(1, 9)
    print(num1, 'x', num2,'?')

9 x 8 ?
5 x 2 ?
3 x 2 ?
6 x 5 ?
6 x 7 ?

구구단 게임에 입력칸을 만들어주자!

In [ ]:
import random

for i in range(5) : 
    num1 = random.randint(2, 9)
    num2 = random.randint(1, 9)
    question = str(num1)+' x '+str(num2)+' ? '
    input(question)

6 x 5 ? 30
9 x 7 ? 42
2 x 2 ? 4
9 x 2 ? 1
2 x 1 ? 1

# 6. 반복문 안의 조건문
랜덤 구구단 게임에서 입력된 답이 틀렸을 때, '땡! 정답은 00입니다' 출력하기

In [ ]:
for i in range(5) : 
    num1 = random.randint(2, 9)
    num2 = random.randint(1, 9)
    question = str(num1)+' x '+str(num2)+' ? '
    # 입력된 답을 변수에 저장하기
    answer = int(input(question))

    if answer != num1*num2 : 
        print('땡! 정답은', num1*num2)

8 x 8 ? 5
땡! 정답은 64
5 x 6 ? 6
땡! 정답은 30
9 x 2 ? 1
땡! 정답은 18
5 x 8 ? 40
8 x 6 ? 48

1부터 30까지 숫자의 홀수 짝수 판별하기

In [ ]:
for i in range(1, 31) : 
    if i%2 == 1 : 
        print(i, '홀수')
    else : 
        print(i, '짝수')

1 홀수
2 짝수
3 홀수
4 짝수
5 홀수
6 짝수
7 홀수
8 짝수
9 홀수
10 짝수
11 홀수
12 짝수
13 홀수
14 짝수
15 홀수
16 짝수
17 홀수
18 짝수
19 홀수
20 짝수
21 홀수
22 짝수
23 홀수
24 짝수
25 홀수
26 짝수
27 홀수
28 짝수
29 홀수
30 짝수